<% results.forEach(function(r) { %>
    <tr>
        <td class="td-value">
            <%= r.username %>
        </td>
        <td class="td-value">
            <%= r.color.charAt(0).toUpperCase() + r.color.slice(1) %>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <% }); %>