<% results.forEach(function(r) { %>
    <tr class="<%= r.color %>">
        <td class="td-value">
            <%= r.username %>
        </td>
        <td class="td-value">
            <%= r.color.charAt(0).toUpperCase() + r.color.slice(1) %>
        </td>
        <td>
        </td>
        <td class="turn"  id="<%= r.userId %>">
        </td>
    </tr>
    <% }); %>