[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid white;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: white;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid white;
}

.input-field label {
    color: white;
}

input[type=text]:focus:not([readonly])+label {
    color: white;
}

input[type=text] {
    border-bottom-color: white;
}

input[type=text]:focus:not([readonly]) {
    border-bottom-color: white;
    box-shadow: 0 1px 0 0 white;
}

.disabled {
    pointer-events: none;
}