<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cost of Mail</title>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="overlay_image">
        <img class="center" src="package.png" alt="Box or Package">
        <div id="weight" class="text">
            <%=weight%>&nbsp;oz.
        </div>
        <div id="cost" class="text">
            <%=cost%>
        </div>
        <div id="type" class="text">
            <%=type%>
        </div>
    </div>
</body>

</html>