<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sequence</title>
    <% include ../partials/header.ejs %>
        <link href="/stylesheets/game.css" rel="stylesheet" type="text/css" />
        <script src="/script/game.js"></script>
</head>

<body>
    <div id="title">
        <h1>Sequence</h1>
    </div>
    <div id="rules">
        <div class="jacks">
            &#9679;&nbsp;Two Eyed Jacks Are Wild&nbsp;&#9679;
        </div>
        <div class="jacks">
            &#9679;&nbsp;One Eyed Jacks Remove&nbsp;&#9679;
        </div>
    </div>

    <div id="hand_container">
        <div id="toggle_hand" class="select_toggle">
            <div id="toggle">▼</div>
        </div>
        <div id="hand" class="select_toggle">
            <div class="hand_slot">
                <img class="card_in_hand" src="/images/card_back_blue.svg" alt="">
            </div>
            <div class="hand_slot">
                <img class="card_in_hand" src="/images/card_back_blue.svg" alt="">
            </div>
            <div class="hand_slot">
                <img class="card_in_hand" src="/images/card_back_blue.svg" alt="">
            </div>
            <div class="hand_slot">
                <img class="card_in_hand" src="/images/card_back_blue.svg" alt="">
            </div>
            <div class="hand_slot">
                <img class="card_in_hand" src="/images/card_back_blue.svg" alt="">
            </div>
            <div class="hand_slot">
                <img class="card_in_hand" src="/images/card_back_blue.svg" alt="">
            </div>
        </div>
    </div>

    <div id="deck_discard">
        <div id="deck">
            <img class="draw_card" src="/images/card_back_blue.svg" alt="Draw a card">
        </div>
        <div id="discard">
            <img class="discard_card" src="/images/card_back_red.svg" alt="Discard pile">
        </div>
    </div>

    <div>
        <button id="endTurn">End Turn</button>
    </div>

    <div class="row">
        <div class="col s16 m3">
            <table class='bordered striped teamTable'>
                <thead class="white">
                    <tr>
                        <th>Player Name</th>
                        <th>Team</th>
                        <th></th>
                        <th id="refreshPlayers"><i class="material-icons blue-text lighten-2 right">loop</i></th>
                    </tr>
                </thead>
                <tbody id='playersTable'>
                    <% include ../partials/players.ejs %>
                </tbody>
            </table>
        </div>
    </div>

    <div id="board">
        <div class="row">
            <img class="card slot90" src="/images/card_back_blue.svg" alt="Free Space">
            <img class="card slot80" src="/images/10_of_spades.svg" alt="">
            <img class="card slot70" src="/images/queen_of_spades.svg" alt="">
            <img class="card slot60" src="/images/king_of_spades.svg" alt="">
            <img class="card slot50" src="/images/ace_of_spades.svg" alt="">
            <img class="card slot40" src="/images/2_of_diamonds.svg" alt="">
            <img class="card slot30" src="/images/3_of_diamonds.svg" alt="">
            <img class="card slot20" src="/images/4_of_diamonds.svg" alt="">
            <img class="card slot10" src="/images/5_of_diamonds.svg" alt="">
            <img class="card slot0" src="/images/card_back_blue.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot91" src="/images/9_of_spades.svg" alt="">
            <img class="card slot81" src="/images/10_of_hearts.svg" alt="">
            <img class="card slot71" src="/images/9_of_hearts.svg" alt="">
            <img class="card slot61" src="/images/8_of_hearts.svg" alt="">
            <img class="card slot51" src="/images/7_of_hearts.svg" alt="">
            <img class="card slot41" src="/images/6_of_hearts.svg" alt="">
            <img class="card slot31" src="/images/5_of_hearts.svg" alt="">
            <img class="card slot21" src="/images/4_of_hearts.svg" alt="">
            <img class="card slot11" src="/images/3_of_hearts.svg" alt="">
            <img class="card slot1" src="/images/6_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot92" src="/images/8_of_spades.svg" alt="">
            <img class="card slot82" src="/images/queen_of_hearts.svg" alt="">
            <img class="card slot72" src="/images/7_of_diamonds.svg" alt="">
            <img class="card slot62" src="/images/8_of_diamonds.svg" alt="">
            <img class="card slot52" src="/images/9_of_diamonds.svg" alt="">
            <img class="card slot42" src="/images/10_of_diamonds.svg" alt="">
            <img class="card slot32" src="/images/queen_of_diamonds.svg" alt="">
            <img class="card slot22" src="/images/king_of_diamonds.svg" alt="">
            <img class="card slot12" src="/images/2_of_hearts.svg" alt="">
            <img class="card slot2" src="/images/7_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot93" src="/images/7_of_spades.svg" alt="">
            <img class="card slot83" src="/images/king_of_hearts.svg" alt="">
            <img class="card slot73" src="/images/6_of_diamonds.svg" alt="">
            <img class="card slot63" src="/images/2_of_clubs.svg" alt="">
            <img class="card slot53" src="/images/ace_of_hearts.svg" alt="">
            <img class="card slot43" src="/images/king_of_hearts.svg" alt="">
            <img class="card slot33" src="/images/queen_of_hearts.svg" alt="">
            <img class="card slot23" src="/images/ace_of_diamonds.svg" alt="">
            <img class="card slot13" src="/images/2_of_spades.svg" alt="">
            <img class="card slot3" src="/images/8_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot94" src="/images/6_of_spades.svg" alt="">
            <img class="card slot84" src="/images/ace_of_hearts.svg" alt="">
            <img class="card slot74" src="/images/5_of_diamonds.svg" alt="">
            <img class="card slot64" src="/images/3_of_clubs.svg" alt="">
            <img class="card slot54" src="/images/4_of_hearts.svg" alt="">
            <img class="card slot44" src="/images/3_of_hearts.svg" alt="">
            <img class="card slot34" src="/images/10_of_hearts.svg" alt="">
            <img class="card slot24" src="/images/ace_of_clubs.svg" alt="">
            <img class="card slot14" src="/images/3_of_spades.svg" alt="">
            <img class="card slot4" src="/images/9_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot95" src="/images/5_of_spades.svg" alt="">
            <img class="card slot85" src="/images/2_of_clubs.svg" alt="">
            <img class="card slot75" src="/images/4_of_diamonds.svg" alt="">
            <img class="card slot65" src="/images/4_of_clubs.svg" alt="">
            <img class="card slot55" src="/images/5_of_hearts.svg" alt="">
            <img class="card slot45" src="/images/2_of_hearts.svg" alt="">
            <img class="card slot35" src="/images/9_of_hearts.svg" alt="">
            <img class="card slot25" src="/images/king_of_clubs.svg" alt="">
            <img class="card slot15" src="/images/4_of_spades.svg" alt="">
            <img class="card slot5" src="/images/10_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot96" src="/images/4_of_spades.svg" alt="">
            <img class="card slot86" src="/images/3_of_clubs.svg" alt="">
            <img class="card slot76" src="/images/3_of_diamonds.svg" alt="">
            <img class="card slot66" src="/images/5_of_clubs.svg" alt="">
            <img class="card slot56" src="/images/6_of_hearts.svg" alt="">
            <img class="card slot46" src="/images/7_of_hearts.svg" alt="">
            <img class="card slot36" src="/images/8_of_hearts.svg" alt="">
            <img class="card slot26" src="/images/queen_of_clubs.svg" alt="">
            <img class="card slot16" src="/images/5_of_spades.svg" alt="">
            <img class="card slot6" src="/images/queen_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot97" src="/images/3_of_spades.svg" alt="">
            <img class="card slot87" src="/images/4_of_clubs.svg" alt="">
            <img class="card slot77" src="/images/2_of_diamonds.svg" alt="">
            <img class="card slot67" src="/images/6_of_clubs.svg" alt="">
            <img class="card slot57" src="/images/7_of_clubs.svg" alt="">
            <img class="card slot47" src="/images/8_of_clubs.svg" alt="">
            <img class="card slot37" src="/images/9_of_clubs.svg" alt="">
            <img class="card slot27" src="/images/10_of_clubs.svg" alt="">
            <img class="card slot17" src="/images/6_of_spades.svg" alt="">
            <img class="card slot7" src="/images/king_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot98" src="/images/2_of_spades.svg" alt="">
            <img class="card slot88" src="/images/5_of_clubs.svg" alt="">
            <img class="card slot78" src="/images/ace_of_spades.svg" alt="">
            <img class="card slot68" src="/images/king_of_spades.svg" alt="">
            <img class="card slot58" src="/images/queen_of_spades.svg" alt="">
            <img class="card slot48" src="/images/10_of_spades.svg" alt="">
            <img class="card slot38" src="/images/9_of_spades.svg" alt="">
            <img class="card slot28" src="/images/8_of_spades.svg" alt="">
            <img class="card slot18" src="/images/7_of_spades.svg" alt="">
            <img class="card slot8" src="/images/ace_of_diamonds.svg" alt="">
        </div>
        <div class="row">
            <img class="card slot99" src="/images/card_back_blue.svg" alt="">
            <img class="card slot89" src="/images/6_of_clubs.svg" alt="">
            <img class="card slot79" src="/images/7_of_clubs.svg" alt="">
            <img class="card slot69" src="/images/8_of_clubs.svg" alt="">
            <img class="card slot59" src="/images/9_of_clubs.svg" alt="">
            <img class="card slot49" src="/images/10_of_clubs.svg" alt="">
            <img class="card slot39" src="/images/queen_of_clubs.svg" alt="">
            <img class="card slot29" src="/images/king_of_clubs.svg" alt="">
            <img class="card slot19" src="/images/ace_of_clubs.svg" alt="">
            <img class="card slot9" src="/images/card_back_blue.svg" alt="">
        </div>
    </div>
</body>

</html>
